<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>https://web2.feejii.com/202308151137/5097053b9e420065e2f01f1278ae85f1/files/2023/08/15/0/6289760/8321475055858472?%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98.ipa</string>
	</dict>
	<dict>
	<key>kind</key>
	<string>display-image</string>
	<key>needs-shine</key>
	<true/>
	<key>url</key>
	<string>https://zzsnn.github.io/APP/images/avatar.png</string>
	</dict>
	</array>
	<key>metadata</key>
	<dict>
	<key>bundle-identifier</key>
	<string>com.baiduwangpan.ios</string>
	<key>bundle-version</key>
	<string>0.6</string>
	<key>kind</key>
	<string>software</string>
	<key>subtitle</key>
	<string>执着いAppStore</string>
	<key>title</key>
	<string>百度网盘</string>
	</dict>
	</dict>
	</array>
</dict>
</plist>