<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>https://web2.feejii.com/202308151156/005913823836c2a1005c81d097e55cf5/files/2023/08/15/0/6289760/8319693460567702?%E7%95%AA%E8%8C%84%E5%B0%8F%E8%AF%B4.ipa</string>
	</dict>
	<dict>
	<key>kind</key>
	<string>display-image</string>
	<key>needs-shine</key>
	<true/>
	<key>url</key>
	<string>https://zzsnn.github.io/App/images/avatar.png</string>
	</dict>
	</array>
	<key>metadata</key>
	<dict>
	<key>bundle-identifier</key>
	<string>com.fanqiexiaoshuo.ios</string>
	<key>bundle-version</key>
	<string>1.0</string>
	<key>kind</key>
	<string>software</string>
	<key>subtitle</key>
	<string>执着いAppStore</string>
	<key>title</key>
	<string>番茄小说</string>
	</dict>
	</dict>
	</array>
</dict>
</plist>