<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zzsncloud.herokuapp.com/zzsnn/IOS/zb/%E4%B9%90%E7%BD%91_1.2.3%EF%BC%88%E6%AD%A3%E7%89%88%E5%85%8D%E9%AA%8C%E8%AF%81%EF%BC%89.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://cdn.jsdelivr.net/gh/TheFine/theFine.github.io/img/avatar.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.seven.adclear</string>
				<key>bundle-version</key>
				<string>1.2.3</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>执着いAppStore</string>
				<key>title</key>
				<string>乐网</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
