<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>https://web2.feejii.com/202308151212/03c818158f7d4c8cd3ed2a8d91118f18/files/2023/08/15/0/6289760/8323538426317447?%E4%BC%81%E4%B8%9A%E5%BE%AE%E4%BF%A1.ipa</string>
	</dict>
	<dict>
	<key>kind</key>
	<string>display-image</string>
	<key>needs-shine</key>
	<true/>
	<key>url</key>
	<string>https://zzsnn.github.io/App/images/avatar.png</string>
	</dict>
	</array>
	<key>metadata</key>
	<dict>
	<key>bundle-identifier</key>
	<string>com.qiyeweixin.ios</string>
	<key>bundle-version</key>
	<string>4.5</string>
	<key>kind</key>
	<string>software</string>
	<key>subtitle</key>
	<string>执着いAppStore</string>
	<key>title</key>
	<string>企业微信</string>
	</dict>
	</dict>
	</array>
</dict>
</plist>