<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>hhttps://web2.feejii.com/202308151202/9b9689b16eed9db9f3670a9b3c782e75/files/2023/08/15/0/6289760/8321909984179222?Unc0ver8.0.2.ipa</string>
	</dict>
	<dict>
	<key>kind</key>
	<string>display-image</string>
	<key>needs-shine</key>
	<true/>
	<key>url</key>
	<string>https://zzsnn.github.io/App/images/avatar.png</string>
	</dict>
	</array>
	<key>metadata</key>
	<dict>
	<key>bundle-identifier</key>
	<string>com.unc0ver.ios</string>
	<key>bundle-version</key>
	<string>3.9</string>
	<key>kind</key>
	<string>software</string>
	<key>subtitle</key>
	<string>执着いAppStore</string>
	<key>title</key>
	<string>Unc0ver</string>
	</dict>
	</dict>
	</array>
</dict>
</plist>