<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string>https://zzsncloud.herokuapp.com/zzsnn/IOS/%E5%BE%AE%E4%BF%A1%E5%A4%9A%E5%BC%80%E5%8A%9F%E8%83%BD%28%E6%97%A0%E5%BC%B9%E7%AA%97%29.ipa</string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://cdn.jsdelivr.net/gh/TheFine/theFine.github.io/img/avatar.jpg]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://cdn.jsdelivr.net/gh/TheFine/theFine.github.io/img/avatar.jpg]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.wfqw.xxys</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[微信多开功能]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>