<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	<dict>
	<key>assets</key>
	<array>
	<dict>
	<key>kind</key>
	<string>software-package</string>
	<key>url</key>
	<string>https://web2.feejii.com/202308151144/8691f69887b17da835ea436f7e3dca3c/files/2023/08/15/0/6289760/8320887072371911?%E8%BF%85%E9%9B%B7%E4%B8%8D%E9%99%90%E9%80%9F.ipa</string>
	</dict>
	<dict>
	<key>kind</key>
	<string>display-image</string>
	<key>needs-shine</key>
	<true/>
	<key>url</key>
	<string>https://zzsnn.github.io/App/images/avatar.png</string>
	</dict>
	</array>
	<key>metadata</key>
	<dict>
	<key>bundle-identifier</key>
	<string>com.xunlei.ios</string>
	<key>bundle-version</key>
	<string>2.7</string>
	<key>kind</key>
	<string>software</string>
	<key>subtitle</key>
	<string>执着いAppStore</string>
	<key>title</key>
	<string>迅雷</string>
	</dict>
	</dict>
	</array>
</dict>
</plist>