.button {
    font-weight: 300;
    font-size: 16px;
    font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.button-glow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: glowing;
    animation-name: glowing
}

.button-highlight,.button-highlight-flat {
    background-color: #feae1b;
    border-color: #feae1b;
    color: #fff
}

.button-glow.button-highlight {
    -webkit-animation-name: glowing-highlight;
    animation-name: glowing-highlight;
}

.button-glow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: glowing;
    animation-name: glowing;
}

.button-raised.button-primary {
    background-color: #feae1b;
}

.button-primary, .button-primary-flat {
    color: #ffffff;
}

.button-glow.button-primary {
    -webkit-animation-name: glowing-primary;
    animation-name: glowing-primary;
}

@keyframes glowing-primary {
    0% {
        -webkit-box-shadow: 0 0 0 rgba(27,154,247,.3);
        box-shadow: 0 0 0 rgba(27,154,247,.3)
    }

    50% {
        -webkit-box-shadow: 0 0 20px rgba(254,174,27,.8);
        box-shadow: 0 0 20px rgba(254,174,27,.8)
    }

    to {
        -webkit-box-shadow: 0 0 0 rgba(27,154,247,.3);
        box-shadow: 0 0 0 rgba(27,154,247,.3)
    }
}

@keyframes glowing-highlight {
    0% {
        -webkit-box-shadow: 0 0 0 rgba(254,174,27,.3);
        box-shadow: 0 0 0 rgba(254,174,27,.3)
    }

    50% {
        -webkit-box-shadow: 0 0 20px rgba(254,174,27,.8);
        box-shadow: 0 0 20px rgba(254,174,27,.8)
    }

    to {
        -webkit-box-shadow: 0 0 0 rgba(254,174,27,.3);
        box-shadow: 0 0 0 rgba(254,174,27,.3)
    }
}