.title {
	position:fixed;
	top:0;
	width:100%;
	height:38px;
	min-width:320px;
	max-width:960px;
	background-color:#ffffff;
	display:flex;
	justify-content:space-between;
	align-items:center;
	z-index:5;
	box-shadow:0 0 5px 1px #c9cbca;
	padding:0 10px
}
.title img {
	width:25px;
	height:25px
}
.title span {
	text-shadow:1px 1px 3px rgba(0,0,0,.3);
	font-size:17px;
	color:#3a3a3a;
	font-weight:600;
	letter-spacing:1px
}
.copyright {
	font-size:12px;
	color:#3a3a3a;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center
}
.footer {
	display:flex;
	position:fixed;
	bottom:0;
	left:50%;
	width:100%;
	height:38px;
	max-width:960px;
	min-width:320px;
	background-color:#fff;
	transform:translateX(-50%);
	z-index:1
}
.footer a {
	-webkit-tap-highlight-color:transparent;
	flex:1;
	display:flex;
	justify-content:center;
	align-items:center
}
.footer a img {
	width:20px;
	height:20px
}
.goBack {
	position:fixed;
	right:20px;
	bottom:50px;
	width:80px;
	height:80px;
	background:url(../images/goBack.png) no-repeat;
	background-size:80px 80px;
	z-index:999
}
.swiper-container {
	margin:40px 0
}
.swiper-slide {
	-webkit-transition:transform 1s;
	-moz-transition:transform 1s;
	-ms-transition:transform 1s;
	-o-transition:transform 1s;
	-webkit-transform:scale(.7);
	transform:scale(.7)
}
.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform:scale(1);
	transform:scale(1)
}
.swiper-slide a {
	display:block;
	border-radius:14px
}
.swiper-slide img {
	width:100%;
	border-radius:14px;
	display:block
}
.software .software-describe .name_type {
	position:relative
}
.xiangqing {
	margin:3px 5px;
	background:hsl(0deg 0% 100%);
	/*border-radius:16px;
	width:85%;
	*/margin:0px auto 20px;
	padding:15px 0;
	font-size:12px;
	color:#3a3a3a;
	font-weight:500;
	/*box-shadow:0 5px 14px 0 rgba(0,0,0,0.22);
	*/
}
.xiangqing .tab .tab_list {
	width:100%;
	height:50px;
}
.xiangqing .tab .tab_list ul {
	display:flex
}
.xiangqing .tab .tab_list ul li {
	-webkit-tap-highlight-color:transparent;
	flex:1;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height:35px;
	font-size:10px;
	font-weight:600;
	text-shadow:3px 3px 3px rgba(0,0,0,.2);
	color:#666;
	letter-spacing:2px
}
.xiangqing .tab .tab_con {
	width:100%
}
.xiangqing .tab .tab_list ul .current {
	color:#ffb83b;
	font-weight:600;
	font-size:19px;
	text-shadow:.4px 1px 2px #a5a5a5;
	letter-spacing:1px;
	width:35px
}
.xiangqing .tab .tab_list ul .current:after {
	content:"";
	width:40px;
	height:1px;
	border-bottom:2px solid #ffb83b
}
.xiangqing .item {
	display:none
}
.software {
	display:flex;
	margin:10px 12px 8px 5px;
	color:#3a3a3a;
}
.software .software-icon {
	position:relative;
	width:75px
}
.software .software-icon img {
	position:absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	width:57px;
	height:57px;
	border-radius:11px;
	box-shadow:0 4px 6px rgba(58,58,58,.4);
	opacity:0.68;
}
.software .software-describe {
	flex:1;
	display:flex;
	flex-direction:column;
	padding:5px 0 12px
}
.software .software-describe .name {
	font-size:13px;
}
.swiper-container {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	height:auto;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	position:relative;
	z-index:1;
	-webkit-transition-property:-webkit-transform;
	transition-property:-webkit-transform;
	transition-property:transform;
	transition-property:transform,-webkit-transform
}
.software .software-describe .describe {
	font-size:10px;
	margin:3px 10px 0 0;
	/*opacity:0.5;
	*/font-weight:500
}
.software .software-describe .time {
	font-size:10px;
	text-shadow:0 0 1px rgba(0,0,0,.2);
	/*opacity:0.5;
	*/font-weight:500
}
.software .software-down {
	width:65px;
	/*display:flex;
	*/justify-content:center;
	align-items:center;
	padding:20px 0 10px
}
.software .software-down a {
	font-size:13px;
	border-radius:6px;
	padding:0 5px;
	letter-spacing:1px;
	height:32px;
	width:60px;
	line-height:32px;
	/*border-radius:22px;
	*/
}
.software-describe span em {
	float:left;
	font-size:.7rem;
	font-style:normal
}
.software-describe span p {
	opacity:0.6;
}
.software-describe .describe img,.software-describe .time img,.software-describe span em i img {
	width:15px;
	height:15px;
	float:left;
}
#text {
	margin:10px 0;
	color:red;
	font-size:20px;
	text-align:center
}
#text1 {
	margin:0 0 8px
}
#text1,#text2 {
	font-size:16px;
	text-align:center;
	color:#1000ff;
}
#text2,#text3 {
	margin:8px 0 0;
	font-size:16px;
	text-align:center;
}
#text4 {
	margin:15px 0 0;
	font-size:16px;
	text-align:center;
}
#text5 {
	color:red;
	margin:8px 0px 8px 0px;
	font-size:16px;
	text-align:center;
}
.tab_con .item .software-icon img {
	width:50px;
	height:50px;
}
/*
.tab_con .item .software .software-describe .icon_type1 {
	background-image:url(../images/icon-lable1.png);
}
.tab_con .item .software .software-describe .icon_type2 {
	background-image:url(../images/icon-lable2.png);
}
.tab_con .item .software .software-describe .icon_type3 {
	background-image:url(../images/icon-lable3.png);
}
.tab_con .item .software .software-describe .icon_type4 {
	background-image:url(../images/icon-lable4.png);
}*/
.cards {
	background:hsl(0deg 0% 100%);
	border-radius:16px;
	width:89%;
	margin:0px auto 20px;
	padding:5px 0;
	font-size:12px;
	color:#3a3a3a;
	font-weight:500;
}
.cards .card_title {
	display:flex;
	align-items:center;
	font-size:17px;
	font-weight:600;
	color:#000000;
	margin-bottom:4px;
	opacity:0.68;
}
.cards .card_title font {
	color:#a1a1a1;
	font-size:12px;
	letter-spacing:2px;
	margin-left:4px;
}
.cards .card_title img {
	/*width:36px;
	*/height:36px;
	margin:0 8px;
}
.tuijian {
	position:relative;
	/*z-index:2;*/
}
.tuijian .shuiyin_tuijian {
	font-size:35px;
	line-height:360px;
}
.cards .shuiyin {
	position:absolute;
	width:100%;
	height:100%;
	font-size:40px;
	color:#efefef;
	z-index:-1;
	text-align:center;
	display:flex;
	justify-content:center;
}
.shuiyintj {
	position:absolute;
	width:100%;
	height:100%;
	font-size:40px;
	color:#efefef;
	/*z-index:-1;*/
	text-align:center;
	display:flex;
	justify-content:center;
}
.tuijian .tuijian_items .software-icon img {
	width:45px;
	height:45px;
}
/*
.tuijian .tuijian_items .software .software-describe .icon_type1 {
	background-image:url(../images/icon-lable1.png);
}
.tuijian .tuijian_items .software .software-describe .icon_type2 {
	background-image:url(../images/icon-lable2.png);
}
.tuijian .tuijian_items .software .software-describe .icon_type3 {
	background-image:url(../images/icon-lable3.png);
}
.tuijian .tuijian_items .software .software-describe .icon_type4 {
	background-image:url(../images/icon-lable4.png);
}*/
.software .software-describe .type {
	position:absolute;
	bottom:1px;
	height:23px;
	width:48px;
	line-height:23px;
	margin-left:5px;
	text-align:center;
	color:#fff;
	background-position:48% 40%;
	background-size:85% 85%;
	background-repeat:no-repeat;
	font-size:11px;
	opacity:0.7;
}
.web {
	flex-direction:column;
	position:relative;
	z-index:2;
	padding:8px 0;
}
.web,.web .row1,.web .row2,.web .row3 {
	display:flex;
}
.web .shuiyin_web {
	font-size:70px;
	line-height:118px;
}
.web .row1,.web .row2 {
	margin-bottom:10px;
	opacity:0.68;
}
.web a {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.web img {
	width:35px;
	height:35px;
	border-radius:50%;
	margin-bottom:2px;
}
@media screen and (max-width:668px) {
	.pc-banner {
	background-size:auto 100%;
}
}@media screen and (max-width:668px) {
	.swiper-slide img {
	border-radius:10px
}
}@media screen and (max-width:668px) {
	.swiper-slide a {
	padding:15px;
	border-radius:10px;
	margin:0 5px
}
}@media screen and (max-width:668px) {
	.swiper-container {
	margin:40px 0 0;
	height:auto;
}
}body {
	width:100%;
	min-width:320px;
	max-width:960px;
	margin:0 auto;
	font-family:-apple-system,Helvetica,sans-serif;
	font-size:14px;
	color:#000;
	line-height:1.5;
	background-color:hsla(0,0%,95%,1);
	padding-bottom:45px;
	font-family:-apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif
}
* {
	margin:0;
	padding:0
}
a {
	text-decoration:none;
	color:#222;
	-webkit-tap-highlight-color:transparent;
	-webkit-touch-callout:none;
	-webkit-user-select:none
}
ul {
	list-style:none;
	margin:0;
	padding:0
}
div {
	box-sizing:border-box
}
.c_alert_dialog * {
	box-sizing:border-box;
}
.c_alert_dialog {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	color:#111;
	position:fixed;
	left:0px;
	top:0px;
	z-index:9999;
	width:100%;
	height:120%;
	display:-webkit-flex;
	display:flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	justify-content:center
}
.c_alert_mask {
	position:absolute;
	left:0;
	top:0px;
	width:100%;
	height:100%;
	z-index:505;
	background:rgba(0,0,0,.78);
	opacity:0;
	visibility:hidden;
	-webkit-transition:all .5s ease
}
.dialog_open .c_alert_mask {
	opacity:1;
	visibility:initial
}
.c_alert_wrap {
	z-index:1200;
	/* max-width: 400px;*/
	position:relative;
	background:#fff;
	height:auto;
	border-radius:10px;
	overflow:hidden;
	box-shadow:0 2px 20px rgba(0,0,0,.25);
	font-size:15px;
	opacity:0
}
.c_alert_con {
	text-align:left;
	font-size:15px;
	line-height:1.4;
	color:#444;
	padding:12px 20px
}
.dialog_open .c_alert_wrap,.dialog_close .c_alert_wrap {
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards
}
.dialog_open .c_alert_wrap {
	animation: showPageContentKeyFrame-data-v-2033a8d1 .3s;
    animation-fill-mode: forwards;
    -webkit-animation: showPageContentKeyFrame-data-v-2033a8d1 .3s;
    -webkit-animation-fill-mode: forwards;
}
.dialog_close .c_alert_wrap {
	-webkit-animation-name:anim-close;
	animation-name:anim-close;
	-webkit-animation-duration:0.3s;
	animation-duration:0.3s;
	-webkit-animation-timing-function:ease-out;
	animation-timing-function:ease-out
}
:root {
	--swiper-theme-color:#007aff
}
.swiper-container {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	overflow:hidden;
	list-style:none;
	padding:0;
	z-index:1
}
.swiper-wrapper {
	position:relative;
	width:100%;
	height:auto;
	z-index:1;
	display:flex;
	transition-property:transform;
	box-sizing:content-box
}
.swiper-container-android .swiper-slide,.swiper-wrapper {
	transform:translate3d(0px,0,0)
}
.swiper-slide {
	flex-shrink:0;
	width:100%;
	height:auto;
	position:relative;
	transition-property:transform
}
:root {
	--swiper-navigation-size:44px
}
.swiper-container .swiper-notification {
	position:absolute;
	left:0;
	top:0;
	pointer-events:none;
	opacity:0;
	z-index:-1000
}
.dialog_open .c_alert_wrap {
	-webkit-animation-name:anim-open;
	animation-name:anim-open;
}
@-webkit-keyframes anim-open {
	0% {
	opacity:0;
	-webkit-transform:matrix3d(0.7,0,0,0,0,0.7,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.7,0,0,0,0,0.7,0,0,0,0,1,0,0,0,0,1)
}
2.083333% {
	-webkit-transform:matrix3d(0.75266,0,0,0,0,0.76342,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.75266,0,0,0,0,0.76342,0,0,0,0,1,0,0,0,0,1)
}
4.166667% {
	-webkit-transform:matrix3d(0.81071,0,0,0,0,0.84545,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.81071,0,0,0,0,0.84545,0,0,0,0,1,0,0,0,0,1)
}
6.25% {
	-webkit-transform:matrix3d(0.86808,0,0,0,0,0.9286,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.86808,0,0,0,0,0.9286,0,0,0,0,1,0,0,0,0,1)
}
8.333333% {
	-webkit-transform:matrix3d(0.92038,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.92038,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
10.416667% {
	-webkit-transform:matrix3d(0.96482,0,0,0,0,1.05202,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.96482,0,0,0,0,1.05202,0,0,0,0,1,0,0,0,0,1)
}
12.5% {
	-webkit-transform:matrix3d(1,0,0,0,0,1.08204,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1,0,0,0,0,1.08204,0,0,0,0,1,0,0,0,0,1)
}
14.583333% {
	-webkit-transform:matrix3d(1.02563,0,0,0,0,1.09149,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.02563,0,0,0,0,1.09149,0,0,0,0,1,0,0,0,0,1)
}
16.666667% {
	-webkit-transform:matrix3d(1.04227,0,0,0,0,1.08453,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.04227,0,0,0,0,1.08453,0,0,0,0,1,0,0,0,0,1)
}
18.75% {
	-webkit-transform:matrix3d(1.05102,0,0,0,0,1.06666,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.05102,0,0,0,0,1.06666,0,0,0,0,1,0,0,0,0,1)
}
20.833333% {
	-webkit-transform:matrix3d(1.05334,0,0,0,0,1.04355,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.05334,0,0,0,0,1.04355,0,0,0,0,1,0,0,0,0,1)
}
22.916667% {
	-webkit-transform:matrix3d(1.05078,0,0,0,0,1.02012,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.05078,0,0,0,0,1.02012,0,0,0,0,1,0,0,0,0,1)
}
25% {
	-webkit-transform:matrix3d(1.04487,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.04487,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
27.083333% {
	-webkit-transform:matrix3d(1.03699,0,0,0,0,0.98534,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.03699,0,0,0,0,0.98534,0,0,0,0,1,0,0,0,0,1)
}
29.166667% {
	-webkit-transform:matrix3d(1.02831,0,0,0,0,0.97688,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.02831,0,0,0,0,0.97688,0,0,0,0,1,0,0,0,0,1)
}
31.25% {
	-webkit-transform:matrix3d(1.01973,0,0,0,0,0.97422,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.01973,0,0,0,0,0.97422,0,0,0,0,1,0,0,0,0,1)
}
33.333333% {
	-webkit-transform:matrix3d(1.01191,0,0,0,0,0.97618,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.01191,0,0,0,0,0.97618,0,0,0,0,1,0,0,0,0,1)
}
35.416667% {
	-webkit-transform:matrix3d(1.00526,0,0,0,0,0.98122,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00526,0,0,0,0,0.98122,0,0,0,0,1,0,0,0,0,1)
}
37.5% {
	-webkit-transform:matrix3d(1,0,0,0,0,0.98773,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1,0,0,0,0,0.98773,0,0,0,0,1,0,0,0,0,1)
}
39.583333% {
	-webkit-transform:matrix3d(0.99617,0,0,0,0,0.99433,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99617,0,0,0,0,0.99433,0,0,0,0,1,0,0,0,0,1)
}
41.666667% {
	-webkit-transform:matrix3d(0.99368,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99368,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
43.75% {
	-webkit-transform:matrix3d(0.99237,0,0,0,0,1.00413,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99237,0,0,0,0,1.00413,0,0,0,0,1,0,0,0,0,1)
}
45.833333% {
	-webkit-transform:matrix3d(0.99202,0,0,0,0,1.00651,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99202,0,0,0,0,1.00651,0,0,0,0,1,0,0,0,0,1)
}
47.916667% {
	-webkit-transform:matrix3d(0.99241,0,0,0,0,1.00726,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99241,0,0,0,0,1.00726,0,0,0,0,1,0,0,0,0,1)
}
50% {
	opacity:1;
	-webkit-transform:matrix3d(0.99329,0,0,0,0,1.00671,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99329,0,0,0,0,1.00671,0,0,0,0,1,0,0,0,0,1)
}
52.083333% {
	-webkit-transform:matrix3d(0.99447,0,0,0,0,1.00529,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99447,0,0,0,0,1.00529,0,0,0,0,1,0,0,0,0,1)
}
54.166667% {
	-webkit-transform:matrix3d(0.99577,0,0,0,0,1.00346,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99577,0,0,0,0,1.00346,0,0,0,0,1,0,0,0,0,1)
}
56.25% {
	-webkit-transform:matrix3d(0.99705,0,0,0,0,1.0016,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99705,0,0,0,0,1.0016,0,0,0,0,1,0,0,0,0,1)
}
58.333333% {
	-webkit-transform:matrix3d(0.99822,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99822,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
60.416667% {
	-webkit-transform:matrix3d(0.99921,0,0,0,0,0.99884,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99921,0,0,0,0,0.99884,0,0,0,0,1,0,0,0,0,1)
}
62.5% {
	-webkit-transform:matrix3d(1,0,0,0,0,0.99816,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1,0,0,0,0,0.99816,0,0,0,0,1,0,0,0,0,1)
}
64.583333% {
	-webkit-transform:matrix3d(1.00057,0,0,0,0,0.99795,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00057,0,0,0,0,0.99795,0,0,0,0,1,0,0,0,0,1)
}
66.666667% {
	-webkit-transform:matrix3d(1.00095,0,0,0,0,0.99811,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00095,0,0,0,0,0.99811,0,0,0,0,1,0,0,0,0,1)
}
68.75% {
	-webkit-transform:matrix3d(1.00114,0,0,0,0,0.99851,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00114,0,0,0,0,0.99851,0,0,0,0,1,0,0,0,0,1)
}
70.833333% {
	-webkit-transform:matrix3d(1.00119,0,0,0,0,0.99903,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00119,0,0,0,0,0.99903,0,0,0,0,1,0,0,0,0,1)
}
72.916667% {
	-webkit-transform:matrix3d(1.00114,0,0,0,0,0.99955,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00114,0,0,0,0,0.99955,0,0,0,0,1,0,0,0,0,1)
}
75% {
	-webkit-transform:matrix3d(1.001,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.001,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
77.083333% {
	-webkit-transform:matrix3d(1.00083,0,0,0,0,1.00033,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00083,0,0,0,0,1.00033,0,0,0,0,1,0,0,0,0,1)
}
79.166667% {
	-webkit-transform:matrix3d(1.00063,0,0,0,0,1.00052,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00063,0,0,0,0,1.00052,0,0,0,0,1,0,0,0,0,1)
}
81.25% {
	-webkit-transform:matrix3d(1.00044,0,0,0,0,1.00058,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00044,0,0,0,0,1.00058,0,0,0,0,1,0,0,0,0,1)
}
83.333333% {
	-webkit-transform:matrix3d(1.00027,0,0,0,0,1.00053,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00027,0,0,0,0,1.00053,0,0,0,0,1,0,0,0,0,1)
}
85.416667% {
	-webkit-transform:matrix3d(1.00012,0,0,0,0,1.00042,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1.00012,0,0,0,0,1.00042,0,0,0,0,1,0,0,0,0,1)
}
87.5% {
	-webkit-transform:matrix3d(1,0,0,0,0,1.00027,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1,0,0,0,0,1.00027,0,0,0,0,1,0,0,0,0,1)
}
89.583333% {
	-webkit-transform:matrix3d(0.99991,0,0,0,0,1.00013,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99991,0,0,0,0,1.00013,0,0,0,0,1,0,0,0,0,1)
}
91.666667% {
	-webkit-transform:matrix3d(0.99986,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99986,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
93.75% {
	-webkit-transform:matrix3d(0.99983,0,0,0,0,0.99991,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99983,0,0,0,0,0.99991,0,0,0,0,1,0,0,0,0,1)
}
95.833333% {
	-webkit-transform:matrix3d(0.99982,0,0,0,0,0.99985,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99982,0,0,0,0,0.99985,0,0,0,0,1,0,0,0,0,1)
}
97.916667% {
	-webkit-transform:matrix3d(0.99983,0,0,0,0,0.99984,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(0.99983,0,0,0,0,0.99984,0,0,0,0,1,0,0,0,0,1)
}
100% {
	opacity:1;
	-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)
}
}@-webkit-keyframes anim-close {
	0% {
	opacity:1
}
100% {
	opacity:0;
	-webkit-transform:scale3d(0.8,0.8,1)
}
}.button {
	font-weight:300;
	font-size:16px;
	font-family:Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	height:40px;
	padding:0 40px;
	margin:0;
	display:inline-block;
	appearance:none;
	cursor:pointer;
	border:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition-property:all;
	transition-property:all;
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	box-shadow:2px 3px 6px rgba(58,58,58,.3)
}
.button-glow {
	-webkit-animation-duration:3s;
	animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-name:glowing;
	animation-name:glowing
}
.button-highlight,.button-highlight-flat {
	background:-webkit-gradient(linear,left top,left bottom,from(#ffe7bb),to(#ffa600));
	color:#fff
}
/*.button-glow.button-highlight {
	-webkit-animation-name:glowing-highlight;
	animation-name:glowing-highlight;
}
*/.button-glow {
	-webkit-animation-duration:3s;
	animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-name:glowing;
	animation-name:glowing;
}
.button-raised.button-primary {
	background:-webkit-gradient(linear,left top,left bottom,from(#ffe7bb),to(#ffa600));
}
.button-primary,.button-primary-flat {
	color:#ffffff;
}
/*.button-glow.button-primary {
	-webkit-animation-name:glowing-primary;
	animation-name:glowing-primary;
}
*/@keyframes glowing-primary {
	0% {
	-webkit-box-shadow:0 0 0 rgba(27,154,247,.3);
	box-shadow:0 0 0 rgba(27,154,247,.3)
}
50% {
	-webkit-box-shadow:0 0 20px rgba(254,174,27,.8);
	box-shadow:0 0 20px rgba(255,166,0,0.8)
}
to {
	-webkit-box-shadow:0 0 0 rgba(27,154,247,.3);
	box-shadow:0 0 0 rgba(27,154,247,.3)
}
}@keyframes glowing-highlight {
	0% {
	-webkit-box-shadow:0 0 0 rgba(254,174,27,.3);
	box-shadow:0 0 0 rgba(254,174,27,.3)
}
50% {
	-webkit-box-shadow:0 0 20px rgba(254,174,27,.8);
	box-shadow:0 0 20px rgba(254,174,27,.8)
}
to {
	-webkit-box-shadow:0 0 0 rgba(254,174,27,.3);
	box-shadow:0 0 0 rgba(254,174,27,.3)
}
}.gzh {
	display:flex;
	/* background-color:pink;
	*/position:relative;
	z-index:2;
}
.gzh.shuiyin_gzh {
	font-size:40px;
	line-height:135px;
}
.gzh.gzh_cxzy,.gzh .gzh_xiaod {
	flex:1;
	/* background-color:purple;
	*/padding:8px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.gzh img {
	width:50px;
	height:50px;
	border-radius:50%;
}
.gzh.gzh_title {
	font-size:14px;
	color:#555;
	font-weight:600;
}
.gzh span {
	margin:2px 0;
	color:#777;
	font-size:12px;
}
.qun {
	display:flex;
	position:relative;
	z-index:2;
}
.qun .shuiyin_qun {
	font-size:40px;
	line-height:50px;
}
.qun a {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	/* margin:0 60px;
	*/padding:10px 30px;
}
.qun img {
	width:35px;
	height:35px;
	margin-bottom:4px;
}
.button-raised.button-primary:hover,.button-raised.button-primary:focus {
	background:-webkit-gradient(linear,left top,left bottom,from(#ffe7bb),to(#ffa600));
	background:linear-gradient(top,#22577c,#0888e6);
}
.button-highlight:hover,.button-highlight:focus,.button-highlight-flat:hover,.button-highlight-flat:focus {
	background:-webkit-gradient(linear,left top,left bottom,from(#ffe7bb),to(#ffa600));
	color:#FFF;
}
.button-primary:active,.button-primary.active,.button-primary.is-active,.button-primary-flat:active,.button-primary-flat.active,.button-primary-flat.is-active {
	background-color:#000000;
	border-color:#000000;
	color:#000000;
}
.button-highlight:active,.button-highlight.active,.button-highlight.is-active,.button-highlight-flat:active,.button-highlight-flat.active,.button-highlight-flat.is-active {
	background-color:#000000;
	border-color:#000000;
	color:#000000;
}
.app-card {
	margin-top:40px;
	background:#fff;
	height:auto;
	display:block;
	width:100%;
	text-align:left;
	margin:0px 0px 10px 0px;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	height:auto;
	z-index:1;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	-ms-transition-property:-ms-transform;
	transition-property:transform;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
.swiper-container-android .swiper-slide,.swiper-wrapper {
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-o-transform:translate(0);
	-ms-transform:translateZ(0);
	transform:translateZ(0)
}
.swiper-slide {
	text-align:center;
	font-size:18px;
	background:transparent;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	width:100%;
	height:auto;
	position:relative
}
.item-media .app-icon {
	width:44px;
	border-radius:11px
}
.list-block .item-media+.item-inner {
	margin-left:15px
}
.layout-white .item-inner,.layout-white .list-block ul ul li:last-child .item-inner {
	border-color:#ddd
}
.list-block .item-inner {
	padding-right:15px;
	position:relative;
	width:100%;
	padding-top:8px;
	padding-bottom:7px;
	min-height:44px;
	-webkit-box-flex:1;
	-ms-flex:1;
	overflow:hidden;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-ms-flex-align:center;
	-ms-flex-item-align:stretch;
	-webkit-align-self:stretch;
	align-self:stretch
}
.list-block .item-inner,.list-block .item-media {
	box-sizing:border-box;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center
}
.list-block .item-media {
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	-webkit-box-lines:single;
	-moz-box-lines:single;
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:none;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-ms-flex-align:center;
	padding-top:7px;
	padding-bottom:8px
}
.app-card .list-block {
	margin:0;
	border-radius:0 0 15px 15px
}
.list-block {
	margin:35px 0;
	font-size:17px
}
.list-block .item-content {
	box-sizing:border-box;
	padding-left:15px;
	min-height:44px;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center
}
.list-block .item-after,.list-block .item-content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex
}
.list-block .item-after {
	white-space:nowrap;
	color:#8e8e93;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	margin-left:auto;
	padding-left:5px
}
.list-block .item-title {
	-webkit-flex-shrink:1;
	-ms-flex:0 1 auto;
	flex-shrink:1;
	min-width:0;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:100%
}
.swiper-slides img {
	width:80%;
	border-radius:14px;
	display:block;
	height:auto;
}
.app-card .software-icon img {
	width:45px;
	height:45px
}
.shengming {
	position:relative;
	z-index:1;
	text-align:center
}
.shengming .shuiyin_shengming {
	font-size:70px;
	line-height:118px
}
.shengming p {
	margin:2px 0;
	font-weight:600;
	color:#777
}
.ui li {
	list-style:none;
}
#news {
	height:22px;
	overflow:hidden;
	margin:0px 20px 10px 20px;
	background-color:#fff;
	border-radius:16px;
}
#news em {
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	margin:0px 0px 0px 30px;
	position:absolute;
	background-image:url(../images/Horn_icon.png);
	background-position:center center;
	background-size:100%;
}
.buttonshuang {
	font-weight:300;
	font-size:16px;
	font-family:Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	height:40px;
	padding:0 10px;
	margin:0;
	display:inline-block;
	appearance:none;
	cursor:pointer;
	border:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition-property:all;
	transition-property:all;
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	box-shadow:2px 3px 6px rgba(58,58,58,.3);
}
.software-ht {
	border:1px solid #ddd;
	border-radius:10px;
	margin:10px 15px 0 15px;
}
.infoLine{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0 15px 0;
    color: #000;
}
.cj{
    display: flex;
    justify-content: space-start;
    padding: 10px;
    position: relative;
    padding-bottom: 0;
}
.cjLogoPanel{
    display: flex;
    justify-content: space-between;
}
.cjLogo{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}
.pageContent{
    /* width: calc(100vw - 60px); */
    /* padding-bottom: 30px; */
}
#lookReadmeBtn{
    width: 100%;
    font-size: .9rem;
    font-weight: 700;
    background-image: linear-gradient(180deg,#5d9cec,#4a89dc);
    box-shadow: 0 5px 14px 0 rgb(0 0 0 / 10%);
    padding: 10px 20px;
    color: #fff;
    background-size: cover;
    text-align: center;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
}
.infoTitle{
    color: #000;
    font-weight: 700;
    font-size: .8rem;
}
.infoContent{
    font-size: .8rem;
    color: #747474;
    text-align: right;
    flex: 1;
}
.p1urllor{
	color: #fff;
}




/*模态框主体样式*/
.modal {
	position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: none;
}

/*模态框公共样式*/
.modal-content {
	width: calc(100vw - 20px);
    left: 10px;
    background: hsl(0deg 0% 100% / 100%);
    position: fixed;
    border-radius: 20px;
    padding-bottom: 30px;
    overflow: auto;
    color: #000!important;
    bottom: 0;
    padding: 20px;
    animation: modal-show 0.3s;
    /* padding-bottom: 30px;*/
    margin: 0px auto 30px;
}

/* 正常大小 */
/*
.modal-normal {
	bottom: 0;
	width: 600px;
}
*/

/* 中等大小 */
.modal-medium {
	width: 400px;
}

/* 迷你大小 */
.modal-mini {
	width: 250px;
}

/* 隐藏 */
.modal-hide {
	animation: modal-hide 0.3s;
}

/* 展示动画 */
@keyframes modal-show {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* 隐藏动画 */
@keyframes modal-hide {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-50px);
	}
}

/*关闭按钮*/
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}

/*关闭按钮的鼠标点击和经过样式*/
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}