
/* 头部 */
.title{
    position: fixed;
    top: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: 38px;
    min-width: 320px;
    max-width: 960px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: #C9CBCA 0px 0px 5px 1px;
    padding: 0 10px;
}
.title img{
    width: 25px;
    height: 25px;
}
.title span{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-size: 17px;
    color: #3a3a3a;
    font-weight: 600;
    letter-spacing: 1px;
}
/* .title span:nth-child(1){
    width: 18px;
    height: 18px;
    background:url(../images/logo1.png) no-repeat;
    background-size: 18px auto;
    margin-right: 13px;
}
.title span:nth-child(2){
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-size: 19px;
    color: #3a3a3a;
    font-weight: 600;
    letter-spacing: 1px;
} */

/* 尾部版权 */
.copyright{
    font-size: 12px;
    /* font-weight: 500; */
    color: #3a3a3a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* 尾部版权完 */
/* 尾部 */
.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 38px;
    max-width: 960px;
    min-width: 320px;
    background-color:#ffffff;
    transform: translateX(-50%);
    /*box-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
    /*border-top: 1px solid #ccc ;*/
    /* margin-top: 46px; */
    z-index: 3;

}
.footer a{
	/* 灰色背景去除 */
    -webkit-tap-highlight-color:transparent;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a img{
    width: 20px;
    height: 20px;
}
/*尾部完*/


/* 公告栏 */
/*.notice{*/
/*    margin: 10px 20px 0 20px;*/
/*    height:22px;*/
/*    overflow:hidden;*/
/*    background:url(../images/laba.png) no-repeat 4px 0;*/
/*    background-size: 23px auto;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 3px rgba(0,0,0,0.2);*/

/*}*/
/*.noticTipTxt{*/
/*    color:#ff7300;*/
/*    height:22px;*/
/*    line-height:22px;*/
/*    overflow:hidden;*/
/*    margin:0 0 0 40px;*/
/*}*/
/*.noticTipTxt li{*/
/*    height:22px;*/
/*    line-height:22px;*/
/*}*/
/*.noticTipTxt a{*/
/*    color:#0fb374;*/
/*    font-size:12px;*/
/*    font-weight: 600;*/
/*    text-decoration:none;*/
/*}*/
/*.noticTipTxt a:hover{*/
/*    color:#ff7300;*/
/*    text-decoration:underline;*/
/*}*/
/*公告栏完*/

/* 搜索 */
.search{
    /* background-color: pink; */
    margin:0px 15px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    height: 30px;
    overflow: hidden;
}
#in_search{
    flex: 1;
    height: 30px;
    padding: 0px 10px;
}

#btn_search{
    width: 50px;
    height: 30px;
    background-color: red;
    color: #fff;
    font-weight: 500;
}

/* 返回顶部 */
.goBack{
    /* display: none; */
    position: fixed;
    right: 20px;
    bottom: 50px;
    /* background-color: pink; */
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    /*box-shadow: 0 0 10px rgba(0,0,0,0.4);*/
    background: url(../images/goBack.png) no-repeat;
    background-size: 80px 80px;
    z-index: 999;
}
/* 返回顶部完 */


/* 轮播图 */
.pc-banner {
	/* width: 100%; */
    /* float: left; */
}

@media screen and (max-width: 668px) {
	.pc-banner {
		background-size: auto 100%;
	}
}

.swiper-container {
	width: 100%;
	margin: 40px 0;
}

@media screen and (max-width: 668px) {
	.swiper-container {
		margin: 40px 0 0px;
	}
}

.swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

@media screen and (max-width: 668px) {
	.swiper-slide {
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
}

.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 668px) {
	.swiper-slide-active,.swiper-slide-duplicate-active {
		-webkit-transform: scale(0.97);
		transform: scale(0.97);
	}
}

.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

.swiper-slide a {
	/* background: #fff; */
	/* padding:10px; */
	display: block;
	border-radius: 14px;
}

/*
@media screen and (min-width: 668px) {
	.swiper-slide a:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		box-sizing: border-box;
		border: 10px solid #fff;
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}
}*/

.swiper-slide-active a:after {
	background: none;
}

@media screen and (max-width: 668px) {
	.swiper-slide a {
		padding: 5px;
        border-radius: 10px;
        margin: 0px 10px 0px 10px;
	}
}

.swiper-slide img {
	width: 100%;
	border-radius: 14px;
	display: block;
}

@media screen and (max-width: 668px) {
	.swiper-slide img {
		border-radius: 10px;
    }
}

.swiper-pagination {
	position: relative;
	margin-bottom: 30px;
}

.swiper-pagination-bullet {
	background: #00a0e9;
	margin-left: 4px;
	margin-right: 4px;
	width: 17px;
	height: 17px;
	opacity: 1;
	margin-bottom: 4px;
}

.swiper-pagination-bullet-active {
	width: 13px;
	height: 13px;
	background: #FFF;
	border: 6px solid #00a0e9;
	margin-bottom: 0;
}

@media screen and (max-width: 668px) {
	
	.swiper-pagination {
		position: relative;
		margin-bottom: 20px;
	}

	.swiper-pagination-bullet {
		background: #00a0e9;
		margin-left: 2px;
		margin-right: 2px;
		width: 8px;
		height: 8px;
		margin-bottom: 2px;
	}

	.swiper-pagination-bullet-active {
		width: 6px;
		height: 6px;
		background: #FFF;
		border: 3px solid #00a0e9;
		margin-bottom: 0;
	}
}
/*轮播图完*/


/* 首页 */
.cards{
    margin: auto;
    background: #FFFFFF;
    border-radius: 16px;
    width: 93%;
    margin-top: 13px;
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 12px;
    color: #3a3a3a;
    font-weight: 500;
    box-shadow: 0 0px 6px rgba(58,58,58,0.22);
    opacity: 0.68;
}
.cards .shuiyin{
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    font-size: 40px;
    color: #f5f5f5;
    z-index: -1;
    text-align: center;
    display: flex;
    justify-content: center;
}
.cards .card_title{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #3a3a3a;
    margin-bottom: 4px;

}
.cards .card_title img{
    width: 36px;
    height: 36px;
    margin:0 8px;
}
.cards font{
    color: #888;
    font-size: 14px;
}

/* 公众号 */
.gzh{
    display: flex;
    /* background-color: pink; */
    /* height: 100px;
    margin: 30px; */
    position: relative;
    z-index: 2;
}
.gzh .gzh_cxzy,
.gzh .gzh_xiaod
{
    flex: 1;
    /* background-color: purple; */
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gzh img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.gzh span{
    margin: 2px 0;
    color: #777;
    font-size: 12px;
}
.gzh .gzh_title{
    font-size: 14px;
    color: #555;
    font-weight: 600;
}
.gzh .shuiyin_gzh{
    font-size: 40px;
    line-height: 135px;
}
/* 公众号完 */

/* 交流群 */
.qun{
    display: flex;
    /* width: 100%;
    height: 100%; */
    position: relative;
    z-index: 2;
}
.qun a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 60px; */
    padding: 10px 30px;
}
.qun img{
    width: 35px;
    height: 35px;
    margin-bottom: 4px;
}
.qun .shuiyin_qun{
    font-size: 40px;
    line-height: 50px;
}
/* web网站 */
.web{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 8px 0px;
}
.web .row1,
.web .row2,
.web .row3{
    display: flex;
}
.web .row1,
.web .row2{
    margin-bottom: 10px;
}
.web a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.web img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 2px;
}
.web .shuiyin_web{
    font-size: 70px;
    line-height: 30px;
}
/* 推荐 */
.tuijian{
    position: relative;
    z-index: 2;
}
.tuijian .shuiyin_tuijian{
    font-size: 35px;
    line-height: 220px;
}

.tuijian .tuijian_items .software{
    margin: 2px 5px;
    border-bottom: 1px solid #f6f6f6;
}
.tuijian .tuijian_items .software:nth-child(4){
    border-bottom: none;
}
.tuijian .tuijian_items .software-icon img{
    width: 45px;
    height: 45px;
}
.tuijian .tuijian_items .software .software-describe .name{
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
}

 .software .software-describe .name_type{
    position: relative;
}

 .software .software-describe .type{
    position: absolute;
    bottom: 1px;
    height: 23px;
    width: 48px;
    /* padding: 0 10px; */
    line-height: 23px;
    margin-left: 16px;
    /* margin-bottom: 3px; */
    text-align: center;
    color: #fff;
    background-position: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 11px;
}
.tuijian .tuijian_items .software .software-describe .icon_type1{
background-image: url("../images/icon-lable1.png");
}
.tuijian .tuijian_items .software .software-describe .icon_type2{
    background-image: url("../images/icon-lable2.png");
 }
.tuijian .tuijian_items .software .software-describe .icon_type3{
        background-image: url("../images/icon-lable3.png");
 }
 .tuijian .tuijian_items .software .software-describe .icon_type4{
        background-image: url("../images/icon-lable4.png");
 }
/*其他页面样式开始*/



/* 其他页面提示样式 */
/* .tishi{
    display: flex;
    flex-direction: column;

    margin: auto;
    background: #FFFFFF;
    border-radius: 16px;
    width: 95%;
    margin-bottom: 13px;
    padding: 0px 10px;
    font-size: 13px;
    color: #888;
    font-weight: 500;
}
.tishi div{
    flex: 1;

    border-bottom: 1px solid #f2f2f2;
    padding: 5px;

    line-height: 20px;
}

.tishi .tishi_title{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #3a3a3a;
    margin-bottom: 4px;

}
.tishi .tishi_title img{
    width: 40px;
    height: 40px;
    margin:0 5px;
}
.tishi font{
    color: #888;
    font-size: 14px;
} */



/* 其他详情页面  tab切换样式*/
.xiangqing{
    /* background: #fff; */
	/* border-radius: 20px; */
    margin: 3px 5px;
    /* padding:5px; */
    /* box-shadow: 0px 5px 13px rgba(0,0,0,0.2); */
    /* margin-top: 20px; */
}

.xiangqing .tab .tab_list {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    /*padding: 0px 0px 0px 10px;*/
    /* background-color: #fff; */
    /* border-radius: 5px; */
    /* background-color: purple; */
}

.xiangqing .tab .tab_list ul{
    display: flex;
}
.xiangqing .tab .tab_list ul li{
	/* 灰色背景去除 */
    -webkit-tap-highlight-color:transparent;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35px;
    /*border-radius: 30px;*/
    font-size: 10px;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    color: #666;
    /*margin: 0 10px;*/
    letter-spacing: 2px;
}

.xiangqing .tab .tab_con {
    width: 100%;
    /* height: 500px; */
    /* background-color: pink; */
}


.xiangqing .tab .tab_list ul .current {
    color: #ff649f;
    font-weight: 600;
    font-size: 19px;
    text-shadow: 0.4px 1px 2px #A5A5A5;
    letter-spacing: 1px;
    width: 35px;
}
.xiangqing .tab .tab_list ul .current:after {
    content: '';
    width: 40px;
    height: 1px;
    border-bottom: 2px solid #ff649f;
    /* display: inline-block;
    margin-left: 24px;
    margin-bottom: 10px; */
}

.xiangqing .item_info {
    padding: 20px 0 0 20px;
}

.xiangqing .item {
    display: none;
}



/* ios 软件详情 */
/* 安卓软件详情 */
/* 其他 */
/* 福利区 */
.software{
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid #ddd;
    margin: 10px 12px 0px 5px;
    color: #3a3a3a;
    /* padding: 15px; */
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* border: 1px solid #fff; */
}
.software .software-icon{
    position: relative;
    width: 80px;
    /* overflow: hidden; */
    /* background-color: pink; */
}
.software .software-icon img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 57px;
    height: 57px;
    border-radius: 11px;
    box-shadow: 0 4px 6px rgba(58,58,58,0.4);
}

.software .software-describe{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 12px 0px;
    /* position: relative; */
    /* background-color: purple; */
}
.software .software-describe .name{
    /* position: absolute; */
    /* top:15%;
    display: inline-block; */
    /* border-bottom: 1px solid #ccc; */
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}


.software .software-describe .name .qianming_yes{
    /* background-color: rgb(230, 192, 166);
    color: rgb(240, 111, 18); */
    background-image: url("https://csharezy.com/static/images/icon-lable4.png");
}
.software .software-describe .name .qianming_no{
    /* background-color: rgb(180, 219, 230);
    color: rgb(16, 188, 235); */
    background-image: url("https://csharezy.com/static/images/icon-lable5.png");
}

.swiper-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}


.software .software-describe .describe{
    /* position: absolute; */
    /* top:55%; */
    font-size: 10px;
    margin: 3px 10px 0px 0px;
    /*margin-bottom: 3px;*/
    color: #777;
    font-weight: 500;
}

.software .software-describe .time{
    /* position:absolute; */
    /* right: 20px;
    top: 20%; */
    font-size: 10px;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
    color: #777;
    font-weight: 500;
}
/*.software .software-describe .time img,*/
/*.software .software-describe .describe img*/
/*{*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

.software .software-down{
    /* position: relative; */
     width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 10px 0px;
    /* background-color: green; */
}
.software .software-down a{
    font-size: 13px;
    border-radius: 6px;
    padding: 0px 5px;
    letter-spacing: 1px;
    height: 32px;
    width: 60px;
    line-height: 32px;
    /*font-weight: 600;*/
    border-radius: 22px;
}

.software-describe span em {
    float: left;
    font-size: 0.7rem;
    color: #565656;
    font-style: normal;
}

.software-describe span em i {
    float: left;
}

.software-describe span em i img {
    width: 15px;
    height: 15px;
}

.software-describe .describe img {
    width: 15px;
    height: 15px;
}

.software-describe .time img {
    width: 15px;
    height: 15px;
}

#text{
	margin: 10px 0px 10px 0px;
	color: red;
	font-size: 18px;
    text-align: center;
}

#text1{
    font-size: 16px;
    text-align: center;
    margin: 0px 0px 8px 0px;
}

#text2{
    font-size: 16px;
    text-align: center;
    margin: 8px 0px 0px 0px;
}

#text3{
    font-size: 16px;
    text-align: center;
    margin: 8px 0px 0px 0px;
}